In [3]:
# kütüphanemiz
import sqlite3

In [4]:
# sqlite bağlantısı kuralım
# dosya yoksa oluşturacak ve bağlanacak.
con = sqlite3.connect("kutuphane.db")
cursor = con.cursor() # imleç oluşturduk.

In [ ]:
def tablo_olustur():
    # sorguyu hazırla
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplik (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayisi INT)")
    con.commit() # sorguyu çalıştır

In [ ]:
def veri_ekle():
    # Veri ekle
    cursor.execute("INSERT INTO kitaplik VALUES ('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 561)")
    con.commit() # sorguyu çalıştır

In [ ]:
# kullanıcıdan gelen verilerin girilmesi
def veri_ekle2(isim, yazar, yayinevi, sayfa_sayisi):
    cursor.execute("INSERT INTO kitaplik VALUES (?, ?, ?, ?)", (isim, yazar, yayinevi, sayfa_sayisi))
    con.commit()

In [7]:
# Bütün kitapları çekelim
def verileri_al():
    cursor.execute("SELECT * FROM kitaplik")
    liste = cursor.fetchall() # cursor üzerindeki bütün bilgileri dönecek
    print("Kitaplık Tablosunun bilgileri ......")
    for i in liste:
        print(i)

In [ ]:
# Sadec Kitap Adı ve Yazarı çekelim
def verileri_al2():
    cursor.execute("SELECT İsim, Yazar FROM kitaplik")
    liste = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri ......")
    for i in liste:
        print(i)

In [ ]:
# Yayınevine göre çekelim.
def verileri_al3(yayinevi):
    cursor.execute("SELECT * FROM kitaplik WHERE Yayınevi = ?", (yayinevi,))
    liste = cursor.fetchall()
    print("Kitaplık Tablosunun bilgileri ......")
    for i in liste:
        print(i)

In [5]:
# Verileri Güncelleme işlemi
# Doğan kitap >> Everest olsun
def verileri_guncelle(eski_yayinevi, yeni_yayinevi):
    cursor.execute("UPDATE kitaplik SET Yayınevi = ? WHERE Yayınevi = ?", (yeni_yayinevi, eski_yayinevi))
    con.commit() # tabloyu güncelle

In [ ]:
# verileri silelim.
def verileri_sil(yazar):
    cursor.execute("DELETE FROM kitaplik WHERE yazar = ?", (yazar,))
    con.commit()

In [ ]:
verileri_al3("Everest")

In [ ]:
verileri_al2()

In [8]:
verileri_al()

Kitaplık Tablosunun bilgileri ......
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 561)
('Cerrah', 'Tess Gerritsen', 'Everest', 271)
('Yüzük Kardeşliği', 'J.R.R. Tolkien', 'Metis Edebiyat', 486)
('Sultanı Öldürmek', 'Ahmet Ümit', 'Everest', 511)
('İki Kule', 'J.R.R. Tolkien', 'Metis Edebiyat', 381)

In [ ]:
veri_ekle()

In [ ]:
tablo_olustur()

In [ ]:
isim = input("İsim : ")
yazar = input("Yazar : ")
yayinevi = input("Yayınevi : ")
sayfa_sayisi = int(input("Sayfa Sayısı : "))
veri_ekle2(isim, yazar, yayinevi, sayfa_sayisi)

In [6]:
verileri_guncelle("Doğan Kitap", "Everest")

In [ ]:
verileri_sil("Ahmet Ümit")

In [ ]:
con.close() # SQLite bağlantısını kapatıyoruz